<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>胎动随心记</title>
<link rel="stylesheet" href="/static/fm/css/main.css" />
<!--[if IE 9]>
<link rel="stylesheet" href="/static/fm/css/main-ie9.css" />
<![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="/static/fm/css/main-lteie8.css" />
<script src="/static/fm/js/main-lteie8.js"></script>
<![endif]-->
<script src="/static/fm/js/main.js"></script>
</head>
<body>
<nav class="navi-bar">
    <ul id="navi-list">
        <li class="current"><a><span class="dot" data-slide="1"></span></a></li>
        <li><a><span class="dot" data-slide="2"></span></a></li>
        <li><a><span class="dot" data-slide="3"></span></a></li>
        <li><a><span class="dot" data-slide="4"></span></a></li>
        <li><a><span class="dot" data-slide="5"></span></a></li>
    </ul>
</nav>
<div class="page-wrapper" id="page-wrapper">
<section class="slide sec01">
    <div class="slide-content">
        <div class="table-wrapper">
            <div class="table-cell">
            <h1>
                <img class="header-logo-title" src="/static/fm/images/logo-title.png" width="505" height="79" alt="胎动随心记" />
            </h1>
            <h2>
                <img class="header-logo-title" src="/static/fm/images/sec1-description.png" width="508" height="33" alt="随心，随时，轻松记录，智能分析" />
            </h2>
            <button id="sec1-download-ios" class="big-download-button" ></button>
            <button id="sec1-download-android" class="big-download-button disabled" ></button>
            </div>
        </div>
    </div>
</section>
<section class="slide sec02">
    <div class="slide-content">
        <div class="table-wrapper">
        <div class="table-cell">
        <h2>
            <img src="/static/fm/images/sec2-title.png" width="198" height="39" alt="数胎动必备" />
        </h2>
        <p>       每一次温柔的触摸，都是胎动的美妙节奏。扭动，翻滚，拳打脚踢，宝宝的每个动作，都让TA帮你转化为指尖上的记录。随心，随时，记录感动，珍藏回忆。</p>
        </div>
        </div>
        <div class="phones-wrapper-outer">
            <div class="phones-wrapper" id="phones-wrapper">
                <img class="phone phone-left" src="/static/fm/images/phone-left.png" width="263" height="490" />
                <img class="phone phone-center" src="/static/fm/images/phone-center.png" width="298" height="553" />
                <img class="phone phone-right" src="/static/fm/images/phone-right.png" width="263" height="490" />
            </div>
        </div>
    </div>
</section>
<section class="slide sec03">
    <div class="slide-content">
        <div class="item-wrapper-wrapper"></div>
        <div class="item-wrapper item-down">
            <div class="item item-1" id="item-left">
                <div class="item-text-container" id="text-item-1">
                    <h3>随时记录</h3>
                    <p>胎动是宝宝写给妈妈的平安“家书”，有了TA，随时随地，轻松数胎动，时刻关注宝宝的健康。</p>
                </div>
                <div class="item-image-container">
                    <div class="takeplace"></div>
                    <img class="circle-up" id="circle-left" src="/static/fm/images/intro-circle-left.png" width="400" height="400" />
                    <div class="circle-bg-up circle-bg circle-yellow"></div>
                    <div class="bar-wrapper">
                        <div class="circle-middle-bar circle-middle-bar-left"></div>
                    </div>
                    <div class="circle-left-half"></div>
                    <div class="circle-bg-down circle-bg circle-yellow"></div>
                </div>
            </div>
            <div class="item item-2" id="item-center">
                <div class="item-text-container" id="text-item-2">
                    <h3>智能解读</h3>
                    <p>找到规律和变化。全天数据生成胎动曲线，自动分析3个完整小时的胎动次数，并推算一天胎动总数。</p>
                </div>
                <div class="item-image-container">
                    <div class="takeplace"></div>
                    <img class="circle-up" id="circle-center" src="/static/fm/images/intro-circle-center.png" width="400" height="400" />
                    <div class="circle-bg-up circle-bg circle-red"></div>
                    <div class="bar-wrapper">
                        <div class="circle-middle-bar circle-middle-bar-center"></div>
                    </div>
                    <div class="circle-bg-down circle-bg circle-red"></div>
                </div>
            </div>
            <div class="item last-item" id="item-right">
                <div class="item-text-container" id="text-item-3">
                    <h3>保留记忆</h3>
                    <p>保存每天胎动历史数据，记录与宝宝互动的每一天，每一次胎动都是妈妈最美好的记忆。</p>
                </div>
                <div class="item-image-container">
                    <div class="takeplace"></div>
                    <img class="circle-up" id="circle-right" src="/static/fm/images/intro-circle-right.png" width="400" height="400" />
                    <div class="circle-bg-up circle-bg circle-blue"></div>
                    <div class="bar-wrapper">
                        <div class="circle-middle-bar circle-middle-bar-right"></div>
                    </div>
                    <div class="circle-bg-down circle-bg circle-blue"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slide sec04">
    <div class="slide-content">
        <div class="sec4-up">
            <h2>
                <img src="/static/fm/images/text-yu.png" />
                <!--<span class="user-count">544,223</span>-->
                <span id="image-count-container" >
                	<span class="image-text text-7">7</span>
                	<span class="image-text text-comma">,</span>
                	<span class="image-text text-3">3</span>
                	<span class="image-text text-2">2</span>
                	<span class="image-text text-8">8</span>
                </span>
                <img src="/static/fm/images/text-weimama.png" />
                <br />
                <img class="sec4-subtitle" src="/static/fm/images/sec4-subtitle.png" />
            </h2>
            
        </div>
        <div class="sec4-down">
            <div class="loop-text-container">
                <ul id="loop-text">
                    <li>“好用，记录太方便了！”</li>
                    <li>“推荐推荐，不用担心不会数胎动啦，自动计算去重的哦～”</li>
                    <li>“用过的最好用的数胎动软件，还能推算一天的胎动，非常实用。”</li>
                    <li>“不用记录1个小时也能保存数据，不错！”</li>
                    <li>“找宝宝胎动规律挺好的，有点意思，好玩又好用，推荐！”</li>
                </ul>
                <ul id="loop-text-backup">
                    <li>“好用，记录太方便了！”</li>
                    <li>“推荐推荐，不用担心不会数胎动啦，自动计算去重的哦～”</li>
                    <li>“用过的最好用的数胎动软件，还能推算一天的胎动，非常实用。”</li>
                    <li>“不用记录1个小时也能保存数据，不错！”</li>
                    <li>“找宝宝胎动规律挺好的，有点意思，好玩又好用，推荐！”</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="slide sec05">
    <div class="slide-content">
        <section class="sub-slide sec05-sub01">
            <h2>
                <img class="" src="/static/fm/images/sec5-title.png" width="278" height="178" />
            </h2>
            <button id="sec5-download-ios" class="small-download-button" ></button>
            <button id="sec5-download-android" class="small-download-button disabled" ></button>
        </section>
        <section class="sub-slide sec05-sub02">
            <div class="footer-wrapper">
                <div class="footer-wrapper-inner">
                    <div class="footer-section footer-sec01">
                        <h2>关于我们 ABOUT US</h2>
                        <img class="aboutus-figure" src="/static/fm/images/aboutus-figure.png" width="512" height="137" />
                    </div>
                    <div class="footer-section footer-sec02">
                        <h2>新浪微博 加丁科技</h2>
                        <a href="http://weibo.com/addinghome"></a>
                    </div>
                    <div class="footer-section footer-sec03">
                        <h2>微信公共账号 加丁科技</h2>
                        <img class="" src="/static/fm/images/qrcode.png" width="209" height="208" />
                    </div>
                </div>
            </div>
        </section>
        <footer>&copy;2014 Adding 京ICP备13037941号-2</footer>
    </div>
</section>
</div>
<script type="text/javascript">
// baidu statistic
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F139caa8e22d9764e42ada78fcbbf3745' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>